.mobile-layout {
  margin: 1rem 2rem;
  overflow-x: hidden;

  color: white;
}

.mobile-search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.mobile-search-bar button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 1rem;
}

.mobile-search-bar input {
  border-radius: 10px;
  border: 1px solid #d9c589;
  outline: none;

  width: 50%;
  height: 2.3rem;

  margin: 0.5rem auto;
  padding: 0.1rem 30px 0.125rem 0.525rem;
}
