.index-main-list {
  padding: 0;
}

.index-main-position {
  margin: 3rem auto;
  padding: 0.3rem 0;
  font-size: 0.875rem;
  color: var(--theme-ui-colors-text-secondary, #78757a);
  text-decoration: underline solid var(--theme-ui-colors-grey-20, lightgray) 1px;
}
