.post {
  margin-top: 3rem;
}

.post-title {
  color: #45858c;
  margin: 3rem auto 0 0;
}

.post-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-info-tags {
  display: flex;
  flex-direction: row;
}

.post-info-tags p {
  color: #bf9765;
  margin-right: 1rem;
}

blockquote {
  margin: 0.5rem 0;
  padding: 0.5rem 2rem;
  background-color: #f8f8f8;
  border-left: 5px solid darkcyan;
}
