body {
  margin: 0;
  font-family: "Merriweather", "Noto Sans Korean";
}

.basic-layout {
  height: 100%;
  width: 100%;
}

.basic-layout-template {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
}

.post-main {
  width: 50%;
  margin: 0 auto 3rem auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

@media screen and (max-width: 1158px) {
  .post-main {
    width: 65%;
  }
}
