body {
  margin: 0;
  font-family: "Merriweather", "Noto Sans Korean";
}

a {
  color: black;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

span p {
  color: #bf9765;
}

.dark {
  background-color: #2a2b2d;
  color: whitesmoke;
}

.dark a,
.dark li button {
  color: whitesmoke;
}

.dark h1,
.dark table {
  color: whitesmoke;
}

.dark thead,
.dark tbody tr {
  background-color: #2a2b2d;
}

.dark blockquote {
  background-color: #313842;
  color: whitesmoke;
}

.dark span p {
  color: #f2bf80;
}
