.post-list-item {
  list-style: none;
  border-bottom: 1px solid lightgray;
}

.post-list-link {
  text-decoration: none;
}

.post-list-item-title {
  margin-bottom: 0.5rem;
}
.post-list-item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-list-item-info span {
  display: flex;
  flex-direction: row;
}

.post-list-item-info span p {
  margin-right: 1rem;
}

.post-list-item-summary {
  margin-top: 0;
  font-weight: 300;
}
