.markdown-nav {
  width: 20%;
  height: 100%;
  position: fixed;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 0;
}

.markdown-nav ul {
  height: fit-content;
  width: 80%;

  margin-top: 3rem;
  padding: 0.5rem 0 1rem 1rem;

  border-left: 1px solid #ddd;
  overflow-y: scroll;
  overflow-x: hidden;
}

.markdown-nav li {
  list-style: none;
}

.markdown-nav li button {
  width: 100%;
  border: none;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
}

.markdown-nav li button span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.markdown-nav li button:hover {
  cursor: pointer;
}

.markdown-nav-h1 {
  margin-left: 0.1rem;
}

.markdown-nav-h2 {
  margin-left: 1rem;
}

.markdown-nav-h3 {
  margin-left: 2rem;
}

.markdown-nav-h4 {
  margin-left: 3rem;
}

@media screen and (max-width: 1158px) {
  .markdown-nav {
    display: none;
  }
}
