.search {
  display: none;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 2;
}

.search-modal {
  display: flex;
  flex-direction: column;
  align-content: center;

  width: 100%;
  max-width: 47.375rem;
  height: 85%;

  background-color: white;
  border-radius: 15px;
}

.search-input-layout {
  width: 90%;
  margin: 1rem auto 0 auto;
  padding-bottom: 0.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-bottom: 1px solid var(--theme-ui-colors-grey-30, #d9d7e0);
}

.search-input-layout label {
  height: fit-content;
  margin-left: 5px;
}

.search-input-layout input {
  width: 100%;
  height: 2.5rem;
  padding-left: 1rem;
  font-size: 1.35rem;
  font-weight: 500;
  color: black;
  outline: none;
  border: none;
}

.search-input-layout input::placeholder {
  color: var(--theme-ui-colors-grey-30, #d9d7e0);
}

.search-content-title {
  width: 90%;
  margin: 1rem auto 0 auto;
}

.search-result {
  padding: 0;
  margin-bottom: 2.5rem;
  overflow-y: auto;
}

.search-result-item {
  width: 90%;
  height: 5.5rem;
  margin: 0.5rem auto 0 auto;

  list-style: none;
  border-radius: 5px;
  background-color: #eee;
}

.search-result-item a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  color: black;
  text-decoration: none;
}

.search-result-item a span {
  flex: 0.1;

  display: flex;
  justify-content: center;
}

.search-result-item a p {
  flex: 0.8;

  height: fit-content;
  padding-bottom: 3px;
}
